::selection {
    background-color: #000;
    color: #fff;
}

.app-main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.container {
    width: 100%;
    max-width: 1464px;
    padding: 0 12px;
    margin: 0 auto;

    &--lg {
        max-width: 1704px;
    }
}

// Icon svg
.icon-svg {

    &,
    path {
        fill: currentColor;
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .15s ease-out;
    font-weight: 500;

    &-icon {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: transparent;

        &.white {
            color: #fff;
        }

        &.black {
            color: #000;
        }

        &.large {
            width: 48px;
            height: 48px;
        }
    }

    &-arrow {
        width: 100%;
        height: 44px;
        justify-content: space-between;
        border-bottom: 1px solid #000;
        color: #000;
    }
}

@media (min-width:576px) {}

@media (min-width:768px) {
    .btn {
        &-icon {
            width: 32px;
            height: 32px;

            &.large {
                width: 56px;
                height: 56px;
            }
        }

        &-arrow {
            height: 48px;
        }
    }
}

@media (min-width:1024px) {
    .btn {
        &-icon {
            &.white:hover {
                background-color: rgba(255, 255, 255, .3);
            }

            &.black:hover {
                background-color: rgba(0, 0, 0, .3);
            }
        }

        &-arrow {
            &:hover {
                background-color: #000;
                color: #fff;
                padding: 0 16px;
            }
        }
    }
}

@media (min-width:1200px) {}

.main-header {
    position: fixed;
    right: 12px;
    top: 24px;
    z-index: 50;

    &__inner {
        width: fit-content;
    }

    &__link {
        display: flex;
        justify-content: flex-end;

        >li {
            &:not(:last-child) {
                margin-right: 6px;
            }
        }
    }
}

@media (min-width:576px) {}

@media (min-width:768px) {
    .main-header {
        top: 80px;

        &__inner {
            width: fit-content;
        }

        &__link {
            >li {
                &:not(:last-child) {
                    margin-right: 12px;
                }
            }
        }
    }
}

@media (min-width:1024px) {}

@media (min-width:1200px) {}

@media (min-width:1704px) {
    .main-header {
        width: 100%;
        right: unset;
        left: 0;

        &__inner {
            width: 100%;
            max-width: 1704px;
            padding: 0 12px;
            margin: 0 auto;
        }
    }
}

.swiper-container {
    overflow: hidden;
}

.tit {
    font-size: 3.2rem;

    &--lg {
        font-size: 3.8rem;
    }

    &--sm {
        font-size: 2.4rem;
    }
}

.txt {
    font-size: 1.4rem;

    &--lg {
        font-size: 1.6rem;
    }

    &--sm {
        font-size: 1.2rem;
    }

    &--xs {
        font-size: 1.2rem;
    }
}

@media (min-width:576px) {}

@media (min-width:768px) {
    .tit {
        font-size: 4rem;

        &--lg {
            font-size: 5.4rem;
        }

        &--sm {
            font-size: 2.8rem;
        }
    }

    .txt {
        font-size: 1.6rem;

        &--lg {
            font-size: 1.8rem;
        }

        &--sm {
            font-size: 1.4rem;
        }
    }
}

@media (min-width:1024px) {
    .tit {
        font-size: 4.8rem;

        &--lg {
            font-size: 6rem;
        }

        &--sm {
            font-size: 3.2rem;
        }
    }
}

@media (min-width:1200px) {
    .tit {
        &--lg {
            font-size: 8rem;
        }
    }
}